# This is a PIP requirements file, including all dependencies for pywikibot
# and 'sphinx-epytext' which is required for sphinx documentation.

sphinx-epytext

# mandatory; see README.conversion.txt
httplib2>=0.9.0

